In [145]:
import pandas as pd
import numpy as np
import re


def load_data(df):
    list=['sch_1','!@sc_1','english maths chemistry']
    list2=['sch_2','))sc_2','english physics chemistry']
    list3=['sch_3','!@sc_2','maths biology']
    list4=['sch_4','sc_2)_','french']
    list5=['sch_5','sc_1#@','social_studies maths literature']
    list6=['sch_6','sc_10#@','english maths history']
    df.loc[len(df)] = list
    df.loc[len(df)] = list2  
    df.loc[len(df)] = list3
    df.loc[len(df)] = list4 
    df.loc[len(df)] = list5 
    df.loc[len(df)] = list6
    return df

def statecount(df):
    df['state_code'] = df['state_code'].str.replace(r'[^a-zA-Z0-9]', '')

    df['subjects'] = df['subjects'].str.split(' ') 

    #DROP all schools offering less than 3 subjects
    df = df[df['subjects'].apply(lambda subjects: len(subjects) >= 3)]
    #df = df[df['subjects'].apply(len) >= 3]
    df_exploded = df.explode('subjects')
    grouped = df_exploded.groupby('state_code')
    df_exploded['english'] = np.where(df_exploded['subjects']=='english',1,0)
    df_exploded['chemistry'] = np.where(df_exploded['subjects']=='chemistry',1,0)
    df_exploded['physics'] = np.where(df_exploded['subjects']=='physics',1,0)
    df_exploded['maths'] = np.where(df_exploded['subjects']=='maths',1,0)
    return grouped['english','maths','physics','chemistry'].sum()

df = pd.DataFrame(columns=['school_id', 'state_code','subjects'])
df =load_data(df)
result =statecount(df) 
result

<ipython-input-145-d26b048ddbbe>:22: FutureWarning: The default value of regex will change from True to False in a future version.
  df['state_code'] = df['state_code'].str.replace(r'[^a-zA-Z0-9]', '')
<ipython-input-145-d26b048ddbbe>:35: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  return grouped['english','maths','physics','chemistry'].sum()

            english  maths  physics  chemistry
state_code
sc1               1      2        0          1
sc10              1      1        0          0
sc2               1      0        1          1